.prose {
  code::before, code::after {
    display: none;
  }
  figure {
    margin: 1.5rem 0;
  }
  h3 {
    margin: 2rem 0 1rem;
  }
  h4 {
    margin-top: 1.5rem;
  }
}
.trix-content{
  li {
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 1rem;
  }
}
