.prose {
  code::before, code::after {
    display: none;
  }
  figure {
    margin: 1.5rem 0;
  }
  h3 {
    margin: 2rem 0 1rem;
  }
  h4 {
    margin-top: 1.5rem;
  }
}
.trix-content{
  li {
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 1rem;
  }
  pre {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    background-color: #1e1e1e !important; /* Dark background for code blocks */
    color: #d4d4d4 !important; /* Light text color for readability */
    border-radius: 4px !important;
    word-break: break-word !important;
  }

  /* Special styling for emphasized text within <pre> */
  pre em {
      color: #569cd6 !important; /* Light blue for keywords, similar to syntax highlighting */
      font-style: normal !important; /* Override italic style */
  }

  /* Styling for strong elements within <pre> */
  pre strong {
      font-weight: bold !important;
      color: #4ec9b0 !important; /* Lighter color for strong elements, like comments or annotations */
  }

  pre s, del {
      color: #b1364f; /* Sets the text color to red */
      text-decoration: none; /* Removes the line-through decoration */
  }
}
