.prose {
  code::before, code::after {
    display: none;
  }
  figure {
    margin: 1.5rem 0;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  h3 {
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 0;
  }
}
.trix-content{
  li {
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 1rem;
  }
}
