<p style="color: green"><%= notice %></p>

<h1>Inquiries</h1>

<div id="inquiries">
  <% @inquiries.each do |inquiry| %>
    <%= render inquiry %>
    <p>
      <%= link_to "Show this inquiry", admin_inquiry_path(inquiry) %>
    </p>
  <% end %>
</div>

<%= link_to "New inquiry", new_admin_inquiry_path %>
