<p>Hey <%= @developer.first_name %>,</p>
<p>Duncan, founder of Waivolt here. It looks like your  profile hasn't been updated in a while.</p>
<ul>
  <li>Still looking? <%= link_to "Update your profile", notification_url(@notification.record) %> to get bumped to the top of search results.</li>
</ul>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_developer_url(@developer, anchor: "notifications") %>.</small></p>
