<p>Hey <%= @business.first_name %>,</p>
<p>Duncan here, founder of BotDevs, with a small request.</p>
<p>As someone who has used the platform, your feedback is valuable to BotDevs.</p>
<p>So I'd love to know: <b>Why did you choose BotDevs to hire over other platforms or recruiters?</b></p>
<p>Please reply here with your answer - your feedback will directly influence what's next for BotDevs.</p>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_business_url(@business, anchor: "notifications") %>.</small></p>
