<div id="<%= dom_id inquiry %>">
  <p>
    <strong>Contact:</strong>
    <%= inquiry.contact_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inquiry.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= inquiry.name %>
  </p>

</div>
